.text-style__leaving{
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: $brown-text; 
}
.text__leaving{
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: $white-text; 
}