.breed__list{
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: $white-text; 
}
.first-el-list{
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 300;
    font-size: 14px; 
}