.main-footer {
    text-align: center;
    background-color: #151313;
  }
    
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px;
    @media (max-width: $large-width){
      padding: 40px 0px;
    }
  @media (max-width: $tablet-width){
      flex-direction: column;
    }
  }
    
  .footer__address {
    color: $white-text;
    @media (max-width: $tablet-width){
        order: -5;
        padding-bottom: 20px;
    }
  }
  .footer__address:hover{
    color: $brown-text;
} 
  .footer__tel {
    color: $white-text;
    @media (max-width: $tablet-width){
        order: -4;
        padding-bottom: 20px;
    }
  }
  .footer__tel:hover{
    color: $brown-text;
  }
  .footer__network {
    display: flex;
    @media (max-width: $tablet-width){
        order: -3;
        padding-bottom: 20px;
    }
  }
  
  .footer__icon:not(:last-child){
    margin-right: 10px;
  }
  