.text__content{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

}
.text__answer{
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: $white-text; 
}